# 控制器

__pycache__
build/
dist/
image/
doc/
deploy.bat
jcy 控制器.spec
jcy 控制器.exe
package.bat
startup.bat
accounts.json
settings.json
.version
terror_zone.json
win.json
jcy/assets/assets.json
jcy/assets/.machine.key
